html, body {
    height: 100%; /* Ensure the body takes the full height */
    margin: 0; /* Remove default margin */
    display: flex; /* Enable flexbox on the body */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: rgba(213, 225, 239, 1); /* Light blue background */
}

.container {
    height: 499px;
    width: 320px;
    padding: 16px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.qr-code-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Center text inside */
}

.qr-image {
    height: 320px;
    width: 320px;
    border: none;
    border-radius: 10px;
    object-fit: cover;
}

.improve,.instruction {
    font-family: "Outfit", serif;
   
    margin-left: 20px;
    margin-right: 20px;
}

.improve {
    font-weight: 700; /* Make the text bold */
    font-size: 22px;
    color: #4A4A4A; /* Darker text color for better readability */
    margin-top: 15px;
}

.instruction {
    font-weight: 400; /* Normal font weight */
    color: gray;
    font-size: 16px;
   
    margin-top: 10px;
}
@media (max-width: 768px) {
    .container {
        width: 90%;
        height: auto;
    }

    .qr-image {
        width: 100%;
        height: auto;
    }
}